
 <div class = "login-container">
    <div class = "form-container">
      <form id ="login-form"  ng-submit="update()" >
        <div class = "simpleFormItem">
          Cập nhật thông tin
        </div>
         <div class = "form-group">
          <input class="form-control"  placeholder="Họ và tên" ng-model="user.name">
        </div>
         <div class = "form-group">
          <input class="form-control"  placeholder="Thành phố" ng-model="user.city">
        </div>
         <div class = "form-group">
          <input class="form-control"  placeholder="Quốc gia" ng-model="user.state">
        </div>

        <div class = "form-group">
          <button type="submit" value="SignUp" class="btn-submit btn btn-primary">Cập nhật</button>
        </div>
        
    </form>
    </div>
    
  </div>